# Only for docker deployment

API_ID=69

API_HASH=e46b6c854d2bf58a0

SESSION_STRING=your_session # Run generate_string_session.py to get session

CHAT_ID=-10036546354

DEFAULT_SERVICE=saavn    # Must be one of youtube/saavn

ARQ_API_KEY=api_key # Get it from @ARQRobot

BITRATE=512 # Must be 512/320

ARQ_API=https://thearq.tech # Don't change it
